{% load static %}

<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>İbrahim Emre Yaz</title>
  
  <link href="{% static 'img/tab_image.png' %}" rel="icon">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body style="color:rgb(154, 42, 42); background-color: rgb(200, 201, 195); font-size: 
19px;font-family: 'Times New Roman', Times, serif;">

  <div class="navigation-bar">
    <span class="navigation-elements"><a href="firstwebpage.html" class="navigates">Homepage</a></span>
    <span class="navigation-elements"><a href="fwb_resume" class="navigates">Resume</a></span>
    <span class="navigation-elements"><a href="fwb_contact.html" class="navigates">Contact</a></span>
    {% if user.is_authenticated %}
    <span class="navigation-elements"><a href="login" class="navigates">Logout</a></span>
    {% else %}
    <span class="navigation-elements"><a href="login" class="navigates">Login or Signup</a></span>
    {% endif %}
  </div>

  
  <br>
  <br>
  <h1 style="margin-left: 50px;">İbrahim Emre Yaz</h1>
  <br>
  <hr>

  <br>
  <section id="hero">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          {% if user.is_authenticated %}
          <h1>Welcome, {{user.username}}</h1>
          {% else %}
          <h1>Welcome, visitor</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <br>
  <div class="main-b">
    <h3>About Me</h3>
    <p>I was born in 1999. I was always curious about technology. I dreamed about creating robots or writing codes all the time. Even though I can not create robots, I learned coding.</p>
      <br>
      <img src="https://d27jswm5an3efw.cloudfront.net/app/uploads/2019/07/insert-image-html-2-768x304.jpg" alt="HTML image">
      <br>
      <p>And this is my first web page.</p>
  </div>
 
  <div class="certificates">
    <p style="font-size: 20px;font-family: 'Times New Roman', Times, serif;font-weight: bold; margin-left: 5px;">My certificates:</p>
    <ol>
        <li><a href="https://verified.cv/en/verify/735232559289" target="_blank">Big Data: NoSQL & Spark</a></li>
        <li><a href="https://matlabacademy.mathworks.com/progress/share/certificate.html?id=8cffd66b-7660-4193-a55e-b33a5479d623& " target="_blank">MATLAB Onramp</a></li>
        <li><a href="https://matlabacademy.mathworks.com/progress/share/certificate.html?id=53693c9e-2182-42a9-bfbe-874c5c116c31&" target="_blank">MATLAB Machine Learning Onramp</a></li>
        <li><a href="https://verified.cv/en/verify/96693088011356?ref=email" target="_blank">Jotform Technical Support Bootcamp</a></li>
    </ol>
  </div>
  </body>
</html>

